<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.refill_project">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/gas"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/gas_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Refill_project"
        android:usesCleartextTraffic="true">
        <activity android:name=".activities.CheckoutActivity"/>
        <activity android:name=".activities.Signup" />
        <activity android:name=".activities.CartAct" />
        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.WeightsAct" />
        <activity android:name=".activities.ProductsAct" />
        <activity android:name=".activities.Login" />
    </application>

</manifest>